<launch>
  <!-- Camera control -->
  <remap from="image" to="/camera/image_raw"/>
  <node pkg="usb_cam" type="usb_cam_node" name="camera" />

  <!-- Robot control -->
  <node pkg="yamabros" type="spur_server" name="spur_server" />
  <node pkg="dich" type="teach" name="teach" required="true">
    <param name="path" value="$(find dich)/../../video.mpg" />
    <param name="ang_vel" value="0.1" />
  </node>

  <!-- User interface -->
  <node pkg="rviz" type="rviz" name="view" args="--no-stereo -d $(find dich)/config/online.rviz" respawn="true" />
  <node pkg="terminal_io" type="terminal_server" name="terminal_server" launch-prefix="konsole --nofork --new-tab -e" />

  <!-- Sensor logging -->
<!--   <node pkg="rosbag" type="record" name="record_bag" args="/camera/image_raw /cmd_vel /odom /tf /forward" /> -->
</launch>
